Code/
Postman
QtProject.con
Thunar
Unknown Organization
caja
cef_user_data
copyq
dconf
discord
enchant
evolution
gtk-3.0
hexchat
ibus
libreoffice
logs
menus
mimeapps.lis
nautilus
obsidian
pulse
qt5ct
racket
s
user-dirs.dir
user-dirs.local
warpinator
xed
xfce4
zoom.con
zoomus.conf
BraveSoftware
QtProject.conf
mimeapps.list
st
user-dirs.dirs
user-dirs.locale
zoom.conf
tmux/plugins
