configuration{
    modi: "run,drun,window";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  Window";
    display-Network: " 󰤨  Network";
}

//@theme "/home/adrian/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/simple-tokyonight.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/rounded-nord-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/spotlight.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/squared-nord.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/launchpad.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/windows11-grid-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/rounded-nord-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/launchpad.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/spotlight.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/rounded-nord-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/rounded-red-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/windows11-grid-dark.rasi"
//@theme "/home/adrian/.local/share/rofi/themes/nord-oneline.rasi"
@theme "/home/adrian/.local/share/rofi/themes/spotlight-dark.rasi"
